.top_tips{width:100%;min-width:1100px; height:24px;background-color:#fff5d3; border:1px solid #feb654;border-left:0 solid #feb654;border-right:0 solid #feb654;}
.top_box{ margin:0 auto; width:1100px;line-height:22px;overflow:hidden; font-size:12px;white-space:nowrap;  }
.top_tips .icons{ background: url(../images/icon_toptips.png) no-repeat scroll 0 0;}
.top_tips .icon_tip1{background-position:0 -4px; height:12px; margin: 5px 10px 0;width:17px;}
.top_tips .icon_close{background-position:0 -26px; height:15px; margin:3px 10px 0 10px;width:15px; text-indent:-999em;}
.top_tips .icon_close:hover{background-position:0 -51px; }
.top_tips a{ text-decoration:none; cursor:pointer; color:#333;}
.top_tips a:hover{text-decoration:underline;color:#F30;}
#show_buyer_agreement:hover{
    color: #00a0e9;
}
#buy_button{
    display: block;
    width: 180px;
    height: 30px;
    background-color:#ff800f;
    color: #fff;
    border-radius:4px;
}
#pay_password .text{ width:154px; border:solid 1px #d3d3d3; height:5px; padding:8px 0; padding-left:10px;}
#confirm_pay_pass{width:66px; height:28px; background-color:#f77e2e; display:inline-block; color:#fff; font-family:"微软雅黑"; font-size:16px; line-height:28px; text-align:center;}
.center_top{ width:100%; height:36px; background-color:#f4f4f4;}
.center_top_box{ width:1100px; margin:0 auto;}
.center_top_box .center_top_left{ float:left; height:36px; line-height:36px;}
.center_top_box .center_top_left span{ display:inline-block; font-size:14px; color:#575757; margin-right:22px;}
.center_top_box .center_top_left span a{ color:#1668ba; text-decoration:underline;}
.center_top_box .center_top_right{ float:right; height:36px; line-height:36px;position:relative; z-index:1000;}
.center_top_box .center_top_right a{ float:left; font-size:14px; color:#575757;}
.center_top_box .center_top_right span{float:left; font-size:14px; color:#575757;}
.center_top_box .center_top_right span em{ display:inline-block; background:url(../images/center/icon01.png) no-repeat; width:7px; height:6px; margin-left:5px; vertical-align:middle;}
.center_top_box .center_top_right span i{ color:#dc7700; margin:0 3px;}
.center_top_box .center_top_right .sd01{display: none; width:84px;border:solid 1px #dfdfdf; background-color:#fff; position:absolute; left:86px; top:36px; padding:5px 0;}
.center_top_box .center_top_right .sd01 a{ display:block; width:79px; line-height:20px; font-size:12px; color:#666; padding-left:5px;}
.center_top_box .center_top_right .sd01 a:hover{ color:#ff6600; background-color:#f4f4f4;}
.center_top_box .center_top_right .sd02{display: none; width:84px;border:solid 1px #dfdfdf; background-color:#fff; position:absolute; left:172px; top:36px; padding:5px 0;}
.center_top_box .center_top_right .sd02 a{ display:block; width:79px; line-height:20px; font-size:12px; color:#666; padding-left:5px;}
.center_top_box .center_top_right .sd02 a:hover{ color:#ff6600; background-color:#f4f4f4;}
.center_top_box .center_top_right .sd03{display: none; width:84px;border:solid 1px #dfdfdf; background-color:#fff; position:absolute; left:258px; top:36px; padding:5px 0;}
.center_top_box .center_top_right .sd03 a{ display:block; width:79px; line-height:20px; font-size:12px; color:#666; padding-left:5px;}
.center_top_box .center_top_right .sd03 a:hover{ color:#ff6600; background-color:#f4f4f4;}
.center_top_box .center_top_right .sd04{display: none; width:84px;border:solid 1px #dfdfdf; background-color:#fff; position:absolute; left:344px; top:36px; padding:5px 0;}
.center_top_box .center_top_right .sd04 a{ display:block; width:79px; line-height:20px; font-size:12px; color:#666; padding-left:5px;}
.center_top_box .center_top_right .sd04 a:hover{ color:#ff6600; background-color:#f4f4f4;}
.center_top_box .center_top_right .sd05{display: none; width:84px;border:solid 1px #dfdfdf; background-color:#fff; position:absolute; left:431px; top:36px; padding:5px 0;}
.center_top_box .center_top_right .sd05 a{ display:block; width:79px; line-height:20px; font-size:12px; color:#666; padding-left:5px;}
.center_top_box .center_top_right .sd05 a:hover{ color:#ff6600; background-color:#f4f4f4;}

h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
.w_1000{ width:1100px; margin:0 auto;}
.left{ float:left;}
.right{ float:right;}

header{ height:160px;}
header .header_box{  clear:both; position:relative; z-index:99;}
header .header_box .logo a{width:324px; height:106px;margin-top:35px; display:block; }
header .header_box .search{height:100px; padding-top:45px; position:relative;}
header .header_box .search .tab_menu{ width:650px; height:24px;}
header .header_box .search .tab_menu a{ width:70px; height:26px; display:block; line-height:24px; text-align:center;}
header .header_box .search .tab_menu .ahover{ width:70px; height:26px; display:block; line-height:24px; background-color:#e3e3e3; text-align:center;}
header .header_box .SearchSmall{ width:690px;}
header .header_box .SearchBig{ width:733px;}
header .header_box .search .tab_menu .gj{  width:70px; height:26px; }
header .header_box .search .tab_menu .pt{ color:#3781e8; width:70px; height:26px;}
header .header_box .SearchBig .tab_menu .pt_blue{ background-color:#079eed; color:#fff;}
header .header_box .SearchBig .tab_menu .gj_red{  background-color:#3781e8;color:#fff;}
header .header_box .SearchSmall .hot-search{ padding-top:3px;}
.header_box .SearchBig .tab_box{width:720px; height:32px; background-color:#fff; }
.header_box .SearchSmall .tab_box ul, .header_box .SearchSmall .pt_box{ width:590px; height:30px; background-color:#fff; border:4px solid #e2e6e7; margin:0; padding:0; position:relative;}
.header_box .SearchSmall .tab_box ul li.area{ width:57px;}
.header_box .SearchSmall .tab_box ul li.server{ width:65px;}
.header_box .SearchSmall .tab_box ul li.type{ width:70px;}
.header_box .SearchSmall .tab_box ul li.all{ width:70px;}
.header_box .SearchSmall .tab_box ul li.search_item{ width:170px;}
.header_box .SearchSmall .tab_box ul li{ cursor:pointer; color:#333; text-align:left; overflow:hidden; height:35px; }
.header_box .SearchSmall .tab_box ul li.name{ width:65px;}
.header_box .SearchSmall .tab_box ul li.name, .tab_box ul li.area, .tab_box ul li.server, .tab_box ul li.type, .tab_box ul li.all{ line-height:28px; text-indent:0.6em; padding:0px 10px 0px 0px; background:url(http://cdnimg.dd373.com/file/general/images/arrow.jpg) no-repeat right center;}
.header_box .SearchSmall .tab_box ul li.server{ width:80px;}
.header_box .SearchSmall .tab_box ul li.search_item .search_input{ width:178px;  height:25px; color:#999999; border:0px; line-height:25px; padding:0px 0px 0px 5px;}
.header_box .SearchSmall .button{  width:82px; height:38px; margin-left:5px; background-color:#09f; text-align:center; font-weight:bold; line-height:35px;}
.header_box .SearchSmall .button a{ font-size:14px; color:#fff; }
.header_box .SearchSmall .pt_box ul li.search_item .search_input{ width:560px; height:25px; color:#999999; border:0px; padding:2px 0px 0px 5px;}
.header_box .SearchSmall .pt_box .pt-kuang{ height:36px; background-color:#fff; border:3px solid #e2e6e7;}
.header_box .SearchSmall .pt_box ul{ height:36px;}
.header_box .SearchSmall .pt_box ul li.text .search-box{ width:618px;  _width:590px; outline:none; height:34px; border:1px solid #fff; color:#999; line-height:12px; font-size:14px; text-indent:0.4em;}
/*----------------------------------hot-search----------------------------------*/
header .header_box .search .hot-search ul{ width:650px; height:16px; margin-top:8px; padding-left:8px; background:url(../images/shop/index_hot_search.jpg) no-repeat 0px center;}
header .header_box .search .hot-search ul li{ margin-left:10px;}
header .header_box .search .hot-search ul li a{ color:#999999;  white-space:nowrap;}
header li{float:left;}/*头部的li都向左浮动*/
header .header_box .SearchBig .tab_box ul li.arrow{ cursor:pointer; padding-right:12px;  height:30px; _height:28px; overflow:hidden; line-height:30px; text-indent:0.6em; color:#333; background:url(http://cdnimg.dd373.com/file/general/images/arrow.jpg) no-repeat 100% center;}
.header_box .SearchBig .tab_box ul li.name{ width:66px;}
.header_box .SearchBig .tab_box ul li.area{ width:57px;}
.header_box .SearchBig .tab_box ul li.server{ width:65px;}
.header_box .SearchBig .tab_box ul li.type{ width:70px;}
.header_box .SearchBig .tab_box ul li.all{ width:70px;}
.header_box .SearchBig .tab_box ul li.search_item{ width:170px;}
header .header_box .SearchBig .tab_box ul li.search_item{ width:230px;}
header .header_box .SearchBig .tab_box ul li.search_item .search_input{ width:210px; height:25px; background-image:none; line-height:24px; outline:none; color:#999999; border:0px; padding:0px 0px 0px 5px; *line-height:33px; text-indent:0.4em;}
#select_ul{ border:2px solid #3781e8;float: left;height: 28px;}
header .header_box .SearchBig .tab_box .button{ width:92px; height:32px; float:right; background: url("../images/shop/bt.jpg") center no-repeat;}
header .header_box .SearchBig .tab_box .button a{ color:#fff; line-height:32px; font-weight:bold; text-align:center;width: 100%; font-size:14px;  display:block;}
header .header_box .search .blue_box{ width:720px; height:32px; background-color:#fff; }
header .header_box .search .blue_box ul{ height:28px;border:2px solid #3781e8;float: left; width:618px;}
header .header_box .search .blue_box ul li.text{ width:616px;}
header .header_box .search .blue_box ul li.text .search-box{ width:616px;   outline:none; height:26px; border:1px solid #fff; color:#999; line-height:25px; font-size:14px; text-indent:0.4em;}
header .header_box .search .blue_box .button_blue{ width:92px; height:32px; float:right; background: url("../images/shop/bt.jpg") center no-repeat;}
header .header_box .search .blue_box .button_blue a{ color:#fff; line-height:32px; font-weight:bold; text-align:center;width: 100%; font-size:14px;  display:block;}



.indexnav_wrap{height:37px; width:100%;min-width:1100px; background-color:#3781e8;}
.indexnav{height:37px;width:1100px;margin:0 auto;clear:both;position:relative;}
.indexnav ul{ width:1100px; height:37px;}
.indexnav ul li{ vertical-align:top;float: left;}
.indexnav ul li.line_l, nav ul li.line_none{ width:136px; height:37px; font-size:14px; text-align:center;}
.indexnav ul li.line_l a{ color:#fff; width:100%; display:block; height:37px; line-height: 37px; background:url(../images/shop/index_line.jpg) no-repeat right center;}
.indexnav ul li.line_none a{ background:none; color:#fff; width:100%;height:37px; line-height: 37px;display:block; }
.indexnav ul li a:hover{ color:#fff; height:37px; background-color:#17acfa; text-decoration:none; }
.indexnav ul li.line_none a:hover{ color:#fff; height:37px; background-color:#17acfa; text-decoration:none; }

.main-box{padding-top: 15px;}
.recharge-box{width: 262px; height: 256px; border: 1px solid #bbbbbb; border-top: 0px;float: left;}
.recharge-box .shop_tb{width: 100%; height: 38px; line-height: 38px;background-color: #eaeaea;}
.recharge-box .shop_tb li{color: #5f5f5f; cursor: pointer; font-size: 16px;float: left; background: url("../images/shop/shop01.jpg") right no-repeat; width: 70px; text-align: center; line-height: 38px;}
.recharge-box .shop_tb li.last{background: none;}
.shop-banner{margin-left: 10px; float: left;width: 560px; height: 256px;}
.shop-right{border: 1px solid #bebebe; width: 250px; height: 256px;float: right;}
.shop-box{padding: 20px;}
.shop-box table tr td{color: #5f5f5f;padding: 12px 0px;font-size: 14px;}
.hide{display: none;}
.shop-box table select{border: 1px solid #c0c0c0; width: 133px;}
.shop-box table tr td.red{color: #ff5a00}
.shop-box .btn{ width: 100px; height: 26px; line-height: 26px; text-align: center; color: #ffffff; background-color: #ff0f1b;}
.shop_tb2{border-bottom: 1px solid #bbbbbb; height: 32px;}
.shop_tb2 li{line-height: 32px;float: left;width: 82px; border-right: 1px solid #bbbbbb;text-align: center; color: #404040; font-size: 14px; cursor: pointer;}
.shop_tb2 li.current{border-bottom: 2px solid #3781e8; color: #3781e8;}
.shop_tb2 li.last{border-right: 0px;}
.shop-new{clear: both;padding: 10px 5px;}
.shop-new ul li{color: #4a4545; font-size: 14px; overflow: hidden; padding: 5px 5px;}
.shop-new ul li a{float: left;color: #4a4545;}
.shop-new ul li a:hover{text-decoration: underline;color: #ff6600}
.shop-new ul li span{float: right;}


.gamelist{ width:830px; height:440px; border:1px solid #dfdfdf; float: left;}
.gamelist .gamelist-top{ width:100%; height:34px; background-color: #f3f3f3; border-bottom:1px solid #e9e9e9;position: relative}
.gamelist .title{ width:100px; height:34px; line-height:34px; text-align: center; font-weight:bold; background-color: #ffffff;border-right: 1px solid #e9e9e9;z-index: 100;position: relative}
.gamelist .title a{color: #ff0f1b;}
.gamelist .letter-nav{ position:relative;height:35px;}
.gamelist .letter-nav ul{  height:35px; }
.gamelist .letter-nav ul li{float: left;line-height:34px;}
.gamelist .letter-nav ul.gamenamebyfirst { display: none; border:#099bee 1px solid; background-color:#FFFFFF; position:absolute; top:34px; left:0;  height:auto; list-style:none; width:723px; z-index:99;}
.gamelist .letter-nav ul.gamenamebyfirst li{float:left; width:100px; height:31px; line-height:31px; margin-bottom:8px; text-align:center;}
.gamelist .letter-nav ul.gamenamebyfirst li a{width:auto;color:#333;}
.gamelist .letter-nav ul.gamenamebyfirst li a:hover{color:#ff6600;text-decoration: underline}
.gamelist .letter-nav ul li a{ width:25px; display:block; text-align:center; color:#666666; }
.gamelist .letter-nav .current{ width:25px;line-height: 32px; border-top:2px solid #ce0c0c;  background-color: #ffffff;}
.gamelist .letter-nav ul.gamenamebyfirst li a.redgame{color:#FF6600;}
.gamelist .letter-nav ul.top0{top:0;}
a{cursor: pointer;}
/*dk-box*/
.dk-box{ padding: 0 0 0 20px; height:405px;}
.dk-box ul{ width:100%;}
.dk-box ul li{ width:130px; float: left; height:160px; margin-top: 30px;border:1px solid #fff}
.dk-box ul li:hover{border:1px solid #e7e7e7}
.dk-box dt{ height:50px;}
.dk-box dd.hide{display: none;}
.dk-box dd.red{color: #ce0c0c;}
.dk-box dt a.pic{ width:100px; height:50px; display:block; margin:10px auto 0 auto;}
.dk-box dd{ text-align:center;overflow:hidden;padding-top: 5px; line-height: 22px;}
.dk-box dd a.btn{ width:70px; height:25px; margin:5px auto 15px auto; background-color:#ce0c0c; display:block; color:#fff;}

.dk-box dt{  height:75px;}
.dk-box dt a.pic{ width:75px; height:75px; margin:4px auto 0 auto;}
.dk-box dd{ height:20px; line-height:23px; }
.dk-box dd a.btn{height:25px; margin:0 auto 5px auto; }
.shop-search{border-bottom: 2px solid #3c5d9e; padding-bottom: 5px;margin-bottom: 5px;width: 830px;}
.shop-search .txt{border: 1px solid #c0c0c0; width: 170px; height: 30px; line-height: 30px; text-indent: 5px;}
.shop-search .btn{border: 1px solid #1967ba; width: 75px; background-color: #1967ba; height: 30px; line-height: 28px;  text-align: center; color: #ffffff;}
/*hot-product*/
.hot-product{ width:248px; height:440px; border:1px solid #dfdfdf;float: right;}
.hot-product .hot-pro-title{ width:248px; height:36px; border-bottom:1px solid #dfdfdf; font-weight:bold; background-color: #cc0000; color: #ffffff; text-indent:1em; line-height:35px; font-size:14px;}
.hot-product .hot-pro-ner{ width:248px;}
.hot-product .hot-pro-ner ul{ width:248px;padding-top: 5px;}
.hot-product .hot-pro-ner ul li, .hot-product .hot-pro-ner .wrap { width:248px; height:74px;margin-top: 5px;}
.hot-product .hot-pro-ner ul li.bj-grey{ background-color:#f6f6f6;}
.hot-product .hot-pro-ner .wrap .tp{ margin:10px 0 0 15px;}
.hot-product .hot-pro-ner .wrap .wz{ margin:8px 0 0 20px;}
.hot-product .hot-pro-ner .wrap .wz p{ color:#666666; line-height:20px;}
.hot-product .hot-pro-ner .wrap .wz p.red{ color:#ff6600;}

/*求购*/
.buying-left{margin: 45px 0px;width: 810px;border: 1px solid #3781e8;float: left;}
.buying-title{background-color: #3781e8; line-height: 38px; text-indent: 20px; color: #ffffff;font-size: 20px;font-weight: bold;}
.buying-theme{margin: 25px 20px;background: url("../images/shop/buy1.jpg") left no-repeat;line-height: 32px;color: #ff6000; font-size: 18px; padding-left: 40px;font-weight: bold}
.buying-info{margin-left: 60px;background: url("../images/shop/buy3.jpg") center no-repeat; width: 714px; height: 189px; color: #4a4a4a; font-size: 14px;}
.buying-info .one{padding-left: 80px;padding-top: 8px; height: 22px;}
.buying-info .two{padding-top: 43px;overflow: hidden;}
.buying-info .two p{padding-top: 8px;}
.buying-info .three{padding-top: 38px;overflow: hidden;}
.buying-info span{color: #ffffff; font-size: 18px; float: left; display: block; width: 220px; line-height: 38px; text-align: right;}
.buying-info p{margin-left: 270px;padding-top: 0;}
.buying-info-line{border-top: 1px solid #b7b7b7; margin: 40px 0px; width: 100%; height: 2px;}
.buying-process{background: url("../images/shop/buy4.jpg") center no-repeat; width: 761px; height: 107px;margin: 10px 0px 40px 28px; position: relative;}
.buying-process ul{position: absolute; left: 0px; bottom: 0px; width: 100%;}
.buying-process ul li{width: 20%; float: left; text-align: center;color: #ff6000; line-height: 26px;}
.buying-theme.green{background: url("../images/shop/buy2.jpg") left no-repeat;color: #73d163;}
.buying-process.green{background: url("../images/shop/buy5.jpg") center no-repeat;}
.buying-process.green ul li{color: #73d163;}
.buying-right{width: 256px;margin: 45px 0px; float: right;}
.buying-title.red{background-color: #ff6000;overflow: hidden;}
.buying-title.red span{float: left;color: #fff}
.buying-title.red a{float: right; font-weight: normal; font-size: 14px; padding-right: 10px; color: #ffffff;}
.buying-box1{border: 1px solid #ff6000; margin-bottom: 25px;}
.buying-box1 ul li{border-bottom: 1px solid #b7b7b7; padding: 10px;line-height: 30px;color: #4a4a4a; font-size: 14px;}
.buying-box1 ul li .red{color: #ff6000;}
.buying-box1 ul li .blue{color: #3781e8;}
.buying-box1 ul li .blue a{color: #3781e8;}
.buying-box1 ul li.last{border-bottom: 0px;}
.buying-box2{border: 1px solid #3781e8;}
.buying-box2 ul{padding: 10px;margin-left: 20px;}
.buying-box2 ul li{line-height: 32px; list-style: disc;}
/*账号交易*/
.account-banner{padding: 20px 0px 0px; float: left;width: 800px; height: 297px;}
.account-buy{width: 265px;float: right;padding-top: 20px;}
.account-buy .box{width: 100%;height: 120px;}
.account-buy .box-tab{background: url("../images/shop/accout2.jpg") center no-repeat; width: 100%; height: 40px;}
.account-buy .box-tab li{width: 50%; float: left;line-height: 40px; cursor: pointer; text-align: center;color: #ffffff; font-size: 16px;}
.account-buy .box-tab a{width: 100%; float: left;line-height: 40px; cursor: pointer; text-align: center;color: #ffffff; font-size: 16px;display: inline-block}
.account-buy .sbox{background-color: #f5f5f5; height: 80px;}
.account-buy .sbox ul li{width: 50%; float: left;padding: 10px 0px;}
.account-buy .sbox ul li a{display: block; overflow: hidden; padding-left: 30px;line-height: 20px;}
.account-buy .sbox ul li a img{float: left; margin-right: 5px;}
.account-buy .sbox ul li a span{float: left;}
.account-buy .box2{border: 1px solid #bebebe; margin-top: 12px;height: 162px;}
.account-buy .box2 .shop-new ul li{padding: 6px 5px;}
.account-main{clear: both; padding-top: 35px;}
.account-main .title{color: #1f1f1f; font-size: 25px;font-weight: bold;line-height: 28px;background: url("../images/shop/accout6.jpg") left no-repeat; padding-left: 25px;margin-bottom: 20px;}
.account-tab{border-bottom: 1px solid #f68438;border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee; border-top: 1px solid #efefef;background-color: #f6f6f6; line-height: 34px;}
.account-tab ul li{float: left;padding: 0px 20px;line-height: 34px;cursor: pointer;font-size: 14px;}
.account-tab ul li.current{background: url("../images/shop/accout7.png") bottom center no-repeat; font-weight: bold;font-size: 14px;}
.account-list{border: 1px solid #eeeeee; border-top: 0px;padding-bottom: 40px;}
.account-list ul{overflow: hidden;}
.account-list ul li{width: 20%;float: left;padding-top: 45px;}
.account-list ul li .item{width: 143px; margin: 0 auto;position: relative;font-size: 14px;}
.account-list ul li .item img{width: 143px; height: 143px;}
.account-list ul li .devel{background: url("../images/shop/accout9.png") center no-repeat;width: 100%; height: 25px; overflow: hidden; line-height: 25px; position: absolute; top: 118px; left: 0px;z-index: 1;}
.account-list ul li .devel label{color: #ffffff;padding-left: 5px; float: left;}
.account-list ul li .devel span{background: url("../images/shop/accout10.png") center repeat-x; width: 75px; height: 13px; display: block; float: left;margin-top: 6px;margin-left: 5px;}
.account-list ul li p{padding-top: 5px;padding-left: 5px;}
.account-list ul li a{color: #0066cc;line-height: 22px; height: 22px; overflow: hidden;}
.account-list ul li .c-gary{color: #828282;}
.account-list ul li .orange{color: #ff6000; font-size: 18px;}
.account-main .title.success{background: url("../images/shop/accout11.jpg") left no-repeat;}
.account-case{width: 855px; height: 310px; border: 1px solid #EEEEEE;float: left;}
.account-case ul{overflow: hidden;}
.account-case ul li{width: 50%;float: left;padding-top: 20px;}
.account-case ul li .item{font-size: 14px; padding-left: 10px; overflow: hidden;}
.account-case ul li .pic{float: left;width: 105px; height: 105px;}
.account-case ul li .pic img{width: 105px; height: 105px;}
.account-case ul li .info{line-height: 35px;}
.account-case ul li p{color: #777777;}
.account-case ul li .box{float: left;width: 250px; margin-left: 20px;}
.account-case ul li a{color: #0066cc;}
.account-case ul li .orange{color: #ff6000; font-size: 18px;}
.account-hot{width: 228px; height: 310px; border: 1px solid #EEEEEE;float: right;}
.account-hot .theme{background-color: #eaeaea;color: #404040; font-size: 16px; line-height: 33px; text-indent: 20px; font-weight: bold;}
.hot-hot{overflow: hidden;}
.hot-hot li{width: 50%;height: 27px;float: left; line-height: 27px;border-bottom: 1px solid #eaeaea; text-align: center; cursor: pointer;}
.hot-hot li.current{border-bottom: 1px solid #ff6000;color: #3a83e8;}
.account-hot .sbox{padding: 10px 12px;clear: both;}
.account-hot .sbox ul li{line-height: 30px;color: #747575;font-size: 14px;}
.account-hot .sbox ul li span{color: #ff6000;}
.account-hot .sbox ul li a{color: #747575;}
.case{padding-top: 20px;}
.slideBox{ width:800px; height:297px; overflow:hidden; position:relative;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#3781E8; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:800px; height:297px; display:block;  }
.shop-banner .slideBox{width: 560px;height:256px;}
.shop-banner .slideBox .bd img{width: 560px;height:256px;}
/*列表页*/
.position{color: #323232; font-size: 16px; padding-bottom: 15px;}
.position a{color: #3781e8;}
.list-category{background-color: #f4f4f4;padding:20px;}
.list-category dl{overflow: hidden;font-size: 16px;}
.list-category dl dt{width: 150px; float: left; padding: 20px 0px 0px;}
.list-category dl dt span{background-color: #ff5c00; color: #ffffff; padding: 3px 10px;}
.list-category dl dt span.blue{background-color: #1668ba;}
.list-category dl dd{float: left; width: 850px; border-bottom: 2px solid #dcdcdc;overflow: hidden;padding: 10px 0px;}
.list-category dl dd li{width: 120px; margin-left: 20px;float: left;padding-bottom: 10px; padding-top: 5px;}
.list-category dl dd li.current a{color: #3781e8;display: inline-block;text-decoration: underline}
.list-category dl dd li.red a{color: #ff5c00;}
.list-category dl dd.last{border-bottom: 0px;}
.list-wrapper{clear: both; padding-top: 45px;}
.list-tab{background-color: #295aa5; line-height: 36px; height: 36px;padding-left: 28px;}
.list-tab li{float: left; cursor: pointer; line-height: 36px; text-align: center; width: 136px; color: #ffffff; font-size: 18px;}
.list-tab li a{color: #ffffff; display: inline-block;width: 100%}
.list-tab li.current{color: #ffad6b; background-color: #f4f4f4;}
.list-tab li.current a{color: #ffad6b; background-color: #f4f4f4;}
.list-main{clear: both;}
.list-main .order-by{background-color: #e6f0e9; height: 28px;line-height: 28px; overflow: hidden; color: #323232; font-size: 14px; padding-left: 20px;}
.list-main .order-by select{background-color: #ffffff; border: 0px; width: 100px;}
.list-main .tb table{width: 100%;border-collapse: collapse;}
table{border-collapse: collapse;}
.list-main .tb table  tr th{color: #323232; font-size: 14px; padding: 15px 0px;  font-weight: normal;}
.list-main .tb table  tr th select{border: 1px solid #e1e1e1; width: 110px;}
.list-main .tb table  tr td{border-top: 1px dashed #d2d2d2; vertical-align: top; padding: 35px 0px; text-align: center;color: #323232; font-size: 14px;}
.list-main .tb table  tr .box{width: 395px;text-align: left;}
.list-main .tb table  tr .box p{padding:5px 0px;}
.list-main .tb table  tr .box .title{ padding-bottom:15px;}
.list-main .tb table  tr .box .title a{color: #1668ba;font-weight: bold;}
.list-main .tb table  tr td.red{color: #ff5c00; font-weight: bold;}
.page{padding: 20px 0px; text-align: center;}
.page ul{text-align: center;}
.page li{ display: inline-block;}
.page a,.page li span{border: 1px solid #dfdfdf;background-color: #f7f7f7;color: #1668ba; width: 40px; height: 36px; line-height: 36px; display: inline-block; margin: 0px 4px;}
.page span{background-color: #1668ba; color: #ffffff;}
.page .active span{background-color: #1668ba; color: #ffffff;}
li.select{
    font-weight: normal;border: 1px solid #f90;color: #f90;border-radius: 3px;
    padding: 2px 5px;margin-left: 3px;margin-right: 3px;width: auto !important; padding-bottom:0 !important; padding-top: 0 !important;}
li.select:hover{background: #f90;color: #fff;}
li.select a{color: #f90}
li.select:hover a{color: #fff;}
/*购买*/
.buy-process{background: url("../images/shop/buy1.jpg") center no-repeat; width: 824px; height: 79px; margin:30px auto;}
.buy-title{color: #575757; font-size: 18px; font-weight: bold; padding: 8px 0px; border-bottom: 1px solid #e0e0e0;}
.buy-tip{border: 1px solid #ff800f; padding: 15px 20px; margin-top: 20px; background-color: #fdfaf1; color: #ff0000; font-size: 14px;}
.order-info{padding-top: 20px; overflow: hidden; padding-bottom: 40px;}
.order-info dl dt{color: #323232; font-size: 16px; width: 110px; margin-right: 10px; text-align: right;float: left;}
.order-info dl dd{float: left;}
.order-info table{width: 870px;}
.order-info table tr th{border: 1px solid #d6d6d6; color: #575757; font-size: 14px;font-weight: bold; background-color: #f0f0f0; line-height: 44px;}
.order-info table tr td{border: 1px solid #d6d6d6; color: #575757; font-size: 14px; text-align: center; padding: 15px 0px;}
.order-info table tr td p{text-align: left; padding-left: 20px; line-height: 28px;}
.order-list{padding-top: 10px; overflow: hidden;}
.order-list ul li{width: 14.28%; height:178px; color:#575757; font-size:14px; float: left; text-align: center; padding-bottom: 10px;}
.order-list ul li p{padding-top: 6px;}
.order-list ul li span{color: #ff6c00;}
.order-list ul li .btn{background-color: #f8a024;width: 128px; line-height:24px; color:#FFF;cursor: pointer; display: none;}
.order-list ul li:hover .btn{display: inline-block;}
.fill-info{padding-top: 20px; overflow: hidden; padding-bottom: 10px;}
.fill-info dl dt{color: #323232; font-size: 16px; width: 110px; margin-right: 10px; text-align: right;float: left;}
.fill-info dl dd{margin-left: 120px;border:1px solid #d3d3d3;padding: 10px 0px 30px;}
.fill-info table{width: 100%;}
.fill-info table th{color: #363636; padding:20px 0px; font-weight: normal; font-size: 14px;width: 220px; text-align: right;}
.fill-info table td{padding: 20px 0px; font-size: 14px;}
.fill-info table td span{color: #ff6c00;}
.fill-info table td select{border: 1px solid #d5d5d5;width:230px; line-height: 28px; height:28px;text-indent: 5px;}
.fill-info table td .txt{border: 1px solid #d5d5d5;width:230px; line-height: 28px; height:28px;text-indent: 5px;}
.fill-info table td .line{border-bottom: 1px solid #d3d3d3;margin: 10px 0px;width: 100%;height:1px;}
.fill-info table td .tip{color: #a6a6a6;}
.buy-theme{border-bottom: 1px solid #dedede;color: #323232; font-size: 20px; text-align: center; padding: 15px 0px;}
.buy-detail-img{padding:34px 0px 0px 24px; float: left;width:300px;}
.buy-detail-img img{width: 300px; height:270px;}
.buy-detail-box{padding: 20px 0px 0px 50px;width: 430px; float:left;color:#323232;}
.buy-detail-box p{color: #323232; font-size: 14px; padding: 10px 0px;}
.buy-detail-box p span{color: #ff6000;}
.buy-detail-box p span.big{font-size: 18px;}
.buy-detail-box .action{padding-top: 10px;}
.buy-detail-box .action input{margin-right: 20px;width: 145px; height: 34px;line-height: 34px;color:#fff;font-size: 16px; text-align: center; cursor: pointer; border-radius: 4px;}
.buy-detail-box .btn-orange{ background-color: #fd9b27; }
.buy-detail-box .btn-blue{ background-color: #4e8efd;}
.buy-detail-right{width: 270px; height: 290px;font-size: 14px; border: 1px solid #dddcdc; float: right;margin-top: 13px;}
.buy-detail-right .title{background-color: #ececec; line-height: 35px;color: #323232; font-size: 16px; text-indent: 20px;}
.buy-detail-right .box{color: #9b9b9b;border: 1px solid #ededed; padding: 10px 15px; line-height: 28px;}
.buy-detail-right .box span{color: #5a5a5a;}
.buy-detail-right .box2{padding: 10px 15px;color: #9b9b9b;}
.buy-detail-right .box2 .stitle{padding: 8px 0px 16px;}
.buy-detail-right .box2 .stitle span{color: #323232;  font-size:15px;}
.buy-detail-right .box2 p{padding-top: 10px;line-height: 20px;}
.buy-detail-right .box2 p span{color: #fd9b27;display: inline-block; }
.buy-detail-right .box2 p label{background-color: #b51102; display: inline-block; padding: 0px 8px; color: #ffffff; margin: 0px 5px;}
.buy-detail-right .box2 p i{color: #b51102;}
.buy-detail{min-height: 200px;}
.buy-detail span{color: #323232; font-size: 14px; padding:0px 25px;}

.buy-detail .goods_content{color: #323232; font-size: 16px; padding:10px 25px;}

.buy-detail-zn{padding: 45px 60px;}

/*金钱交易*/
.Popular_box{ padding-top:15px;}
.Popular{ width:253px; border: 1px solid #e4e4e4; float:left;}
.Popular h3{width:223px; line-height:43px; background-color:#e5e5e5; font-size:16px; color:#424242; font-weight:bold; padding:0 15px;}
.Popular h3 a{ float:right; font-size:14px; color:#999; font-weight:normal;}
.Popular .gamees{ overflow:hidden;}
.Popular .gamees a{ width:126px; height:82px; float:left; border-bottom:1px solid #e4e4e4; text-align:center;}
.Popular .gamees a img{ margin-top:10px; width:100px; height:60px;}
.Popular .gamees a.current{ border-right:1px solid #e4e4e4;}

.reco{ overflow:hidden; width:1100px; margin-top:40px; margin-bottom:30px;}
.reco_left{ width:805px; float:left;}
.reco_box{width:805px;}
.reco_box .title{color:#1f1f1f; font-size: 25px;font-weight: bold;line-height: 28px;background: url("../images/shop/accout6.jpg") left no-repeat; padding-left: 25px;margin-bottom: 20px;}
.reco_box .title.success{background: url("../images/shop/accout11.jpg") left no-repeat; margin-top:20px;}
.reco_box .reco_list{ width:803px; border:solid 1px #eee; height:580px; padding-top:30px;}
.reco_box .reco_list ul{ overflow:hidden;}
.reco_box .reco_list ul li{ float:left; width:165px; margin-left:28px; height:250px; margin-bottom:20px;}
.reco_box .reco_list ul li .pic{ width:163px;border:solid 1px #eee; text-align:center; font-size:14px; color:#404040; padding-bottom:10px;}
.reco_box .reco_list ul li .pic .pic_img{ text-align:center; padding:10px 0;border-bottom:solid 1px #eee;}
.reco_box .reco_list ul li .pic p{ margin-top:10px;}
.reco_box .reco_list ul li .pic .qu{ margin-top:8px;}
.reco_box .reco_list ul li .pac{text-align:center; font-size:14px; color:#404040; margin-top:10px;}
.reco_box .reco_list ul li .pac span{ font-size:18px; color:#ff6000; display:block; margin:5px 0;}
.reco_box .reco_list ul li .pac a{ display: none; width:116px; height:30px;text-align:center; line-height:30px; font-size:14px; color:#fff; background-color:#f77e2e;}
.reco_box .reco_list ul li:hover .pac a{ display:inline-block; }
.reco_box .recoo_list{ width:803px; border:solid 1px #eee; height:500px;}
.reco_box .recoo_list .sdd{ overflow:hidden;}
.reco_box .recoo_list .sdd a{ float:left; width:60px; height:20px; color:#404040; font-size:14px;  margin:10px 0;margin-left:10px; line-height:20px; text-align:center;}
.reco_box .recoo_list .sdd a.current{ background-color:#f77e2e; color:#fff;}
.reco_box .recoo_list ul{ overflow:hidden;}
.reco_box .recoo_list ul li{ float:left; width:165px; margin-left:28px; height:190px; margin-bottom:20px;}
.reco_box .recoo_list ul li .pic{ width:163px;border:solid 1px #eee; text-align:center; font-size:14px; color:#404040; padding-bottom:10px;}
.reco_box .recoo_list ul li .pic .pic_img{ text-align:center; padding:10px 0;}
.reco_box .recoo_list ul li .pic p{ margin-top:10px;}
.reco_box .recoo_list ul li .pic .qu{ margin-top:8px;}
.reco_box .recoo_list ul li .pac{text-align:center; font-size:14px; color:#404040; margin-top:10px;}
.reco_box .recoo_list ul li .pac span{ font-size:18px; color:#ff6000; display:block; margin:5px 0;}
.reco_box .recoo_list ul li .pac a{ width:116px; height:30px; display:none; text-align:center; line-height:30px; font-size:14px; color:#fff; background-color:#f77e2e;}
.reco_box .recoo_list ul li:hover .pac a{display:inline-block;}
.reco_right{ width:262px; float:right;}
.zone{width:260px;border:solid 1px #eee; margin-top:48px;}
.zone h3{ line-height:35px; background-color:#cc0000; color:#fff; font-size:16px; font-weight:bold; padding-left:20px; margin-bottom:30px;}
.zone ul li{ padding-left:20px;font-size:14px; color:#4a4545; margin-bottom:25px;}
.zone_img{ margin-top:10px;}
.zone_img a{ display:inline-block; margin-bottom:20px;}

/*游戏*/
.main_top_l .wrap .icon{ background:url(../images/shop/index_icon.jpg) no-repeat; width:30px; height:30px;}
.main_top_l .wrap .icon-red{ background:url(../images/shop/index_icon-red.jpg) no-repeat; width:30px; height:30px;}
.main_top{float: left;width:250px;position: relative;}
.main_top .main_top_l{ width:250px; height:268px;}
.main_top .main_top_l .wrap{ width:250px; height:93px;}
.main_top .main_top_l .hh{ margin-top:10px;}
.main_top .main_top_l .wrap .m_r_12{ margin-right:12px; }
.main_top .main_top_l .wrap .common{ width:73px; height:85px; border:1px solid #dddddd; background-color:#FFF; cursor:pointer;position: relative;}
.main_top .main_top_l .wrap .common-red{ width:73px; height:85px; background-color:#fff; cursor:pointer; border:1px solid #ff6600; border-bottom:0 none; position:relative; z-index:100;}
.main_top .main_top_l .wrap .common .hot_tip2{position:absolute;top:6px;left:40px;}
.main_top .main_top_l .dk_nr{ height:185px; padding-top:20px;}
.main_top .main_top_l .QQ_nr{ height:195px; padding-top:10px;}
.main_top .main_top_l .QQ_nr .ts, .main_top_l .iphone_nr .ts{ height:22px; line-height:22px; margin:0px 0px 0px 70px;}
.main_top .main_top_l .iphone_nr{ height:195px; padding-top:10px;}
.main_top .main_top_l .dk_nr, .main_top .main_top_l .QQ_nr, .main_top .main_top_l .iphone_nr{ width:247px; border:1px solid #ff6600; position:absolute; top:85px; background-color:#fff;}
.main_top .main_top_l .QQ_nr .name-l, .main_top .main_top_l .iphone_nr .name-l{ width:74px; line-height:26px;}
.main_top .main_top_l select{ width:80px; height:20px; margin-top:3px;}

.main_top .main_top_l .name{ width:240px; height:28px; margin-bottom:6px;}
.main_top .main_top_l .mr-t{ margin-top:8px;}
.main_top .main_top_l .name-l{ width:74px; height:20px; text-align:right; padding-right:5px;}
.main_top .main_top_l .name-r.kuang{ font-size:12px;}
.main_top .main_top_l .name-r select{width:110px; height:20px;}
.main_top .main_top_l .iphone_nr .name-r{ margin-top:4px;}
.main_top .main_top_l .jiage{ width:240px; height:24px;}
.main_top .main_top_l .jiage .jine{ line-height:26px; color:#ff6600;}
.main_top .main_top_l .button a.red_btn{ width:86px; height:28px; cursor:pointer; text-align:center; line-height:25px; color:#fff; margin:0 auto;}

.main_top .main_top_l .dk_nr .dk_nr_b .button{ width:86px; height:28px; cursor:pointer; background-color:#079eed; text-align:center; line-height:25px; color:#fff; margin:0 auto; margin-top:10px;}
.main_top .main_top_l .wrap .icon_dk{ background-position:-20px -248px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_qq{ background-position:-20px -361px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_hf{ background-position:-20px -300px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_jb{ background-position:-18px -302px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_zb{ background-position:-19px -189px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_zh{ background-position:-19px -130px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_wz{ background-position:-18px -71px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_mail{ background-position:-16px -11px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_zzfw{ background-position:-21px -470px; margin:17px 0px 6px 24px;}
.main_top .main_top_l .wrap .icon_sy{margin:23px 0 10px 20px;}
.main_top .main_top_l .wrap .icon_sc{margin:18px 0 7px 24px;}
.main_top .main_top_l .wrap .icon_lb{margin:15px 0 3px 20px;}
.main_top .main_top_l .wrap .text{ color:#9c9c9c; font-size:12px; text-align:center; padding:0px 0px 0px 5px;}
.main_top .main_top_l .wrap .text-red{ color:#f99831; font-size:12px; text-align:center; padding:0px 0px 0px 5px;}
.main_top .main_top_l .wrap .text a{ color:#9c9c9c;}
a.red_btn{ display:block; background-color:#ff6600; border:1px solid #F99B31; color:#fff; text-align:center;border-radius:4px;font-size:14px;padding:4px 0;}
a.red_btn:hover{ background-color:#FE8534; text-decoration:none;}
.red {color: #ff6600;}
.game-right{padding-top: 0px;}
.game-right .box{height: 40px;}
.box .tempWrap{top:8px;}
.game-right .box2{height: 238px;}
.game-right .box-tab{background: url("../images/shop/yx2.jpg") center no-repeat;}
.game-right .box-tab li{width: 25%;}
.game-title{color: #1f1f1f; font-size: 20px;font-weight: bold;line-height: 28px;background: url("../images/shop/accout6.jpg") left no-repeat; padding-left: 28px;margin-bottom: 20px;}
.game-hot{width: 100%;height: auto;}
.game-hot .title a{color: #1b1b1b;}
.game-hot .letter-nav ul li a{width: 35px;}
.game-hot .letter-nav .current{width: 35px;}
.game-hot .dk-box{width: 100%;padding: 0px;height: auto;}
.game-hot .dk-box ul{margin-left: -1px;}
.game-hot .dk-box ul li{width: 16.66%;padding: 0;height: 130px;border: none;margin-top: 0}

.game-hot .dk-box ul li:last-child .item{border-right: none}
.game-hot .dk-box ul li .item{height: 130px;text-align: center; border-right: 1px solid transparent;border-left: 1px solid transparent;}
.game-hot .dk-box ul li.current .item{border-color: #e7e7e7;}

.game-hot .dk-box ul li .item .pic{padding: 10px 0;}
.game-hot .dk-box ul li .item .pic img{width: 100px; height: 63px;}
.game-hot .dk-box ul li .item .box{overflow: hidden;color: #848484;}
.game-hot .dk-box ul li .item .box a{display: inline-block; line-height: 22px;padding: 0px 5px; margin: 0px 2px;}
.game-hot .dk-box ul li .item .box a:hover{background-color: #e8cfa6; color: #ffffff;}
.game-box{padding-top: 10px; clear: both;}
.game-box dt{border: 1px solid #f3ece2;background-color: #f9f9f9;width: 249px;height:62px;float: left;margin-right: 10px;}
.game-box dt p{background: url("../images/shop/yx5.jpg") left no-repeat; padding-left: 20px; margin: 5px 0 5px 35px; color: #1b1b1b; font-size: 14px;}
.game-box dt p  span{color: #7b6849; margin-left: 5px;font-size: 12px;}
.game-box dt .txt{border: 1px solid #cfcfcf; margin-left: 30px;width: 130px; height: 23px; line-height: 23px;text-indent: 5px;}
.game-box dt .btn{border: 1px solid #e7d6cc;background-color: #fbf6ed; width: 48px; text-align: center; line-height: 23px;}
.game-box dd{margin-left: 200px;}
.game-box dd .box{border: 1px solid #d9d9d9;background-color: #eeeeee;height: 62px;overflow: hidden;margin-left: 10px;}
.game-box dd .box .left{background: url("../images/shop/yx6.jpg") center no-repeat; width: 82px; height: 29px;margin-top: 17px; color: #1b1b1b; font-size: 14px; text-indent: 10px; line-height: 29px;}
.game-box dd .box .info{background-color: #ffffff;margin: 10px 5px 5px 130px; position: relative;padding: 5px 10px 5px 10px; line-height: 23px;}
.game-box dd .box .info .blue{margin-right:5px;display:inline-block;background-color: #3d86ea;border: 1px solid #1364d2;color: #ffffff; width: 36px; height: 18px; line-height: 18px; text-align: center; top: 0px; left: 0px;}
.game-box dd .box .info .red{margin-right:5px;display:inline-block;background-color: #e00515;border: 1px solid #8c0000;color: #ffffff; width: 36px; height: 18px; line-height: 18px; text-align: center;  top: 25px; left: 0px;}
.game-hot .letter-nav ul.gamenamebyfirst{width: 1030px;position: absolute;left: -101px;}
.gamelist .letter-nav .active{border: #099bee 1px solid;border-bottom: 1px solid #fff;background-color: #ffffff; position: relative; z-index: 100;}

.game_list{ width:1100px; margin-top:30px;}
.game-titlee{color: #1f1f1f; font-size: 20px;font-weight: bold;line-height: 28px;background: url("../images/shop/accout12.png") left no-repeat; padding-left: 28px;margin-bottom: 20px;}
.game_list_box{ width:1100px; overflow:hidden;}
.game_list_left{ float:left; width:803px; border:solid 1px #e7e7e7; position:relative;}
.game_list_left .game_top{ width:803px; height:34px;background-color: #f3f3f3;}
.game_list_left .game_top ul{ border-top:solid 1px #425591;}
.game_list_left .game_top ul li{ float:left;}
.game_list_left .game_top ul li a{ display:block; width:30.8px; line-height:33px; text-align:center; font-size:14px; color:#5d5d5d; border-bottom:solid 1px #e7e7e7;}
.game_list_left .game_top ul li a.current{ border-top:solid 2px #F00; line-height:31px;background-color:#fff;border-bottom:none;}
.game_list_left .zb_box ul{ overflow:hidden; width:803px;border-bottom:solid 1px #e7e7e7;}
.game_list_left .zb_box ul li{ float:left; width:159px; height:94px;border-right:solid 1px #e7e7e7;}
.game_list_left .zb_box ul li:last-child{border-right: none}
.game_list_left .zb_box ul li .zb_img{ text-align:center;padding-top: 4px;min-height: 73px;}
.game_list_left .zb_box ul li .zb_box{ text-align:center;}
.game_list_left .zb_box ul li .zb_box a{ color:#425591; font-size:12px; margin-right:5px;}
.game_list_left .zb_box ul li .zb_box a:hover{background-color: #e8cfa6; color: #ffffff;}
.game_list_left .gl_game{width:780px; padding-left:23px;}
.game_list_left .gl_game .gl_box h3{ font-size:16px; color:#323232; font-weight:bold; margin:10px 0;}
.game_list_left .gl_game .gl_box ul{ overflow:hidden;}
.game_list_left .gl_game .gl_box ul li{ width:390px; float:left; margin-bottom:13px;}
.game_list_left .gl_game .gl_box ul li span{ display:inline-block; font-size:14px; color:#3781e8; margin-right:25px;}
.game_list_left .gl_game .gl_box ul li a{display:inline-block; font-size:12px; color:#323232; margin-right:25px;}
.game_list_left .gl_game .gl_box ul li a.col{ color:#ff8400;}
.game_list_left .gl_game .gl_box ul li a:hover{color: #ff6600;text-decoration: underline;}
.game_list_left .warriors{ position:absolute; top:35px; left:0;}
.game_list_left .warriors .warr{ width:783px; padding:10px 12px 0; background-color:#fff; border-bottom:solid 1px #e7e7e7;}
.game_list_left .warriors .warr ul{ overflow:hidden;}
.game_list_left .warriors .warr ul li{ float:left; width:140px; text-align:center; margin-bottom:15px;}
.game_list_left .warriors .warr ul li a{ font-size:14px; color:#323232;}
.game_list_left .warriors .warr ul li a:hover{color:#ff6600;text-decoration: underline}


.game_list_right{ float:right; width:260px;}
.game_list_right .phb_box{ width:258px;border:solid 1px #e7e7e7; margin-bottom:55px;}
.game_list_right .phb_box h3{ background-color:#cc0000;line-height:35px; font-size:16px; color:#fff; font-weight:bold; padding-left:20px;}
.game_list_right .phb_box h3 a{ float:right; color:#fff; margin-right:5px;} 
.game_list_right .phb_box .phb_img{ text-align:center; margin-top:16px;}
.game_list_right .phb_box .pbbs{ padding:0 15px; padding-bottom:10px;}
.game_list_right .phb_box .pbbs ul li{ overflow:hidden; margin-top:10px;}
.game_list_right .phb_box .pbbs ul li a{ float:left; font-size:12px; color:#d60b0f;}
.game_list_right .phb_box .pbbs ul li a:hover{text-decoration: underline}
.game_list_right .phb_box .pbbs ul li a.flr{ float:right; width:70px; text-align:left;}
.game_list_right .phb_box .pbbs ul li span{ float:right;font-size:12px; color:#323232;}

#free_game{height: 168px;}
#free_game li{width: 114px;float: left}


.dk_box{width:1100px; margin-top:30px;}
.game-tit{color: #1f1f1f; font-size: 20px;font-weight: bold;line-height: 28px;background: url("../images/shop/accout13.png") left no-repeat; padding-left: 30px;margin-bottom: 20px;}
.dk_cent{width:1100px; overflow:hidden;}
.dk_cent_left{ float:left;width:803px; border:solid 1px #e7e7e7;}
.dk_cent_left .zqz_img{ float:left; width:190px;}
.dk_cent_left .ckk_box{ float:left; width:613px;}
.dk_cent_left .ckk_box .ckk .asdd{width:613px; overflow:hidden; margin-top:10px;}
.dk_cent_left .ckk_box .ckk .asdd span{ float:left; width:74px; height:30px; text-align:center; line-height:20px; color:5d5d5d; font-size:14px; margin-left:15px;}
.dk_cent_left .ckk_box .ckk .asdd span.curren{ background:url(../images/shop/dk_bg.jpg) no-repeat; color:#fff;}
.dk_cent_left .ckk_box .ckk ul{ overflow:hidden; margin-top:20px;}
.dk_cent_left .ckk_box .ckk ul li{ width:110px; float:left; text-align:center; height:135px; margin-left:30px; margin-bottom:10px;}
.dk_cent_left .ckk_box .ckk ul li p{ font-size:12px; color:#5d5d5d;}
.dk_cent_left .ckk_box .ckk ul li span{ font-size:12px; color:#ff6000; display:block; margin:5px 0;}
.dk_cent_left .ckk_box .ckk ul li a{ width:64px; height:17px; display:none; text-align:center; line-height:17px; font-size:12px; color:#fff; background-color:#ff0f1b;}
.dk_cent_left .ckk_box .ckk ul li:hover a{display:inline-block}
.dk_cent_right{ float:right;width:260px;}
.dk_cent_right .consulting{width:238px;border:solid 1px #e7e7e7; height:386px; padding:0 10px;}
.dk_cent_right .consulting h3{ font-size:14px; color:#323232; padding-top:15px;}
.dk_cent_right .consulting ul li{width:238px; margin-top:15px;border-bottom: 1px solid #e7e7e7}
.dk_cent_right .consulting ul li .consulting_text i{ display:inline-block; background:url(../images/shop/wd_bg.jpg) no-repeat 0 0; width:17px; height:16px; vertical-align:middle; margin-right:10px;}
.dk_cent_right .consulting ul li .consulting_text{ margin-bottom:10px;}
.dk_cent_right .consulting ul li .consulting_text i.cur{ background:url(../images/shop/wd_bg.jpg) no-repeat -18px 0;}
.dk_cent_right .consulting ul li .consulting_text a{ font-size:12px; color:#8c8c8c; display:inline-block; width:211px; height:17px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;vertical-align:middle;}
.dk_cent_right .consulting ul li .consulting_text a:hover{color: #ff6600;text-decoration: underline}
.dk_cent_right .consulting .consulting_btn{ margin-top:30px; text-align:center;}
.dk_cent_right .consulting .consulting_btn a{width:71px; height:24px; display:inline-block; text-align:center; line-height:24px; font-size:12px; color:#fff; background-color:#e7cea5; margin-right:8px;}
.dk_cent_right .consulting .consulting_btn a.cec{background-color:#ffb63e;}
.dk_cent_right .consulting .consulting_btn a.csc{background-color:#3ec2ff; margin-right:0;}

.trading{width:1100px; margin-top:30px; margin-bottom:30px;}
.game-titc{color: #1f1f1f; font-size: 20px;font-weight: bold;line-height: 28px;background: url("../images/shop/accout14.png") left no-repeat; padding-left: 30px;margin-bottom: 20px;}
.trading_box{width:1100px; overflow:hidden;}
.trading_left{float:left;width:803px; border:solid 1px #e7e7e7;padding-bottom:30px;}
.trading_left .yield{ padding-left:40px; width:763px; height:300px;}
.trading_left .yield ul{ overflow:hidden;}
.trading_left .yield ul li{ float:left; font-size:14px; color:#3b5998; margin-top:35px; text-align:left; margin-right:60px;}
.trading_left .yield ul li a{ font-size:14px; color:#666;}
.trading_left .yield ul li a:hover{ color:#ff6600;text-decoration: underline}
.trading_left .yield ul li.curr{ margin-right:120px;}
.trading_left .yield ul li h3{ font-weight:bold; margin-bottom:30px;}
.trading_left .yield ul li p{ line-height:26px;color: #333}
.trading_left .yield ul li p.cdsl{ line-height:26px; color:#F00;}
.trading_right{float:right;width:260px;}
.trading_right .reliable{width:258px;border:solid 1px #e7e7e7; }
.trading_right .reliable h3{background-color:#3b5998;line-height:32px; font-size:16px; color:#fff; font-weight:bold; padding-left:20px;}
.trading_right .reliable ul{padding:0 15px;}
.trading_right .reliable ul li{ font-size:12px; color:#5d5d5d; padding-bottom:15px; border-bottom:solid 1px #e7e7e7;}
.trading_right .reliable ul li p{ margin:20px 0 12px 0;}
.trading_right .reliable ul li .mpren{ text-align:right; color:#F00; margin-top:4px;}

.tb .current_no{width:102px; height:22px;  margin:0 auto; border:1px solid #e1e1e1;}
.tb .current{width:110px; height:22px;  margin:0 auto; border:1px solid #ff5c00;}
.jiage .text, .danjia .text{ margin-top:4px; margin-left:4px; _margin-left:3px;}
.jiage .up{  height:22px; background:url(../images/shop/priceArrow.gif) no-repeat 92px 2px;}
.jiage .down{  height:22px;  background:url(../images/shop/priceArrow.gif) no-repeat 92px -17px;}
.up .line,.down .line{ width:19px; height:22px; border-left:1px solid #dddddd;}
